*{
    background-color: whitesmoke;
    padding: 0px;
}

#socials{
    background-color: white; 
    border-radius: 3px;
    margin: 0 10px;
    text-decoration: none;
    border-radius: 15px;
    
}